<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Edit Article</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/admin/ultimateblog/articles/update">
                <input type="hidden" value="<%= article.id %>" name="id">
                <input class="form-control" type="text" name="title" placeholder="Define the article title" value="<%= article.title %>"><br>
                <textarea id="body" class="form-control" placeholder="Write the article here" name="body"><%- article.body %></textarea><br>
                <label>Categories</label>
                <br>
                <select name="category" class="form-control">
                    <% categories.forEach((category) => { %>
                        <% if(category.id == article.categoryId) { %>
                            <option value="<%= category.id %>" selected><%= category.title %></option>
                        <% }else{ %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <% } %>    
                        
                    <% }) %>
                </select>
                <br>
                <button class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
</div>


<%- include ('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
       // language: 'pt_BR',
        selector: "#body",
        plugins: [
            'image',
            'media',
            'advlist', 
            'autolink',
            'link',
            'image', 
            'lists', 
            'preview', 
            'searchreplace', 
            'wordcount', 
            'fullscreen', 
            'insertdatetime', 
            'save', 
            'table', 
            'emoticons'
        ]
    })

</script>